.about{
    text-align: center;

}
.lines{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}
.lines:before{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background: red;
  }
  .lines:after{
    content:" ";
    height: 2px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }